<div class="container">
  <h1>Add Book</h1>

  <form method="POST" action="/api/books">
    <input
      type="text"
      class="form-control m-1"
      name="title"
      placeholder="Enter Title"
    />
    <input
      type="text"
      class="form-control m-1"
      name="author"
      placeholder="Enter Author"
    />
    <input
      type="text"
      class="form-control m-1"
      name="price"
      placeholder="Enter Price"
    />
    <input
      type="text"
      class="form-control m-1"
      name="pages"
      placeholder="Enter Pages"
    />
    <input
      type="text"
      class="form-control m-1"
      name="avg_reviews"
      placeholder="Enter Avg Reviews"
    />
    <input
      type="text"
      class="form-control m-1"
      name="n_reviews"
      placeholder="Enter n Reviews"
    />
    <input
      type="text"
      class="form-control m-1"
      name="star"
      placeholder="Enter Star"
    />
    <input
      type="text"
      class="form-control m-1"
      name="dimensions"
      placeholder="Enter Dimensions"
    />
    <input
      type="text"
      class="form-control m-1"
      name="weight"
      placeholder="Enter Weight"
    />
    <input
      type="text"
      class="form-control m-1"
      name="language"
      placeholder="Enter Language"
    />
    <input
      type="text"
      class="form-control m-1"
      name="publisher"
      placeholder="Enter Publisher"
    />
    <input
      type="text"
      class="form-control m-1"
      name="ISBN_13"
      placeholder="Enter ISBN"
    />
    <input
      type="text"
      class="form-control m-1"
      name="complete_link"
      placeholder="Enter Link"
    />
    <input type="submit" class="btn btn-primary" value="Search" /></form>

</div>